{% extends 'dash.html.twig' %}

{% block title %}Formation{% endblock %}

{% block body %}

    {{ include('header.html.twig') }}
        <!-- Single pro tab review Start-->
        <div class="single-pro-review-area mt-t-30 mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h1>Formation</h1>

                        <table class="table">
                            <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ formation.id }}</td>
                            </tr>
                            <tr>
                                <th>Intitule</th>
                                <td>{{ formation.intitule }}</td>
                            </tr>
                            <tr>
                                <th>Description</th>
                                <td>{{ formation.description }}</td>
                            </tr>
                            <tr>
                                <th>Date_deb</th>
                                <td>{{ formation.dateDebut ? formation.dateDebut|date('Y-m-d') : '' }}</td>
                            </tr>
                            <tr>
                                <th>Id_eval</th>
                                <td>{{ formation.idEval }}</td>
                            </tr>
                            <tr>
                                <th>Date_fin</th>
                                <td>{{ formation.dateFin ? formation.dateFin|date('Y-m-d') : '' }}</td>
                            </tr>
                            <tr>
                                <th>Type</th>
                                <td>{{ formation.type }}</td>
                            </tr>
                            <tr>
                                <th>Prix</th>
                                <td>{{ formation.prix }}</td>
                            </tr>
                            <tr>
                                <th>Img</th>
                                <td>{{ formation.img }}</td>
                            </tr>
                            <tr>
                                <th>Id_formateur</th>
                                <td>{{ formation.idFormateur }}</td>
                            </tr>
                            </tbody>
                        </table>

                        <a href="{{ path('form_crud_index') }}">Retour à la liste</a>

                        <br>
                        <a href="{{ path('form_crud_edit', {'id': formation.id}) }}">Modifier</a>

                        {{ include('form_crud/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    {{ include('footer.html.twig') }}

{% endblock %}
