{% extends 'base.html.twig' %}

{% block title %}Edit Choix{% endblock %}

{% block body %}
        {{ include('header.html.twig') }}
<div class="breadcome-area">
    <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="breadcome-heading">
<!-- Single pro tab review Start-->
<div class="single-pro-review-area mt-t-30 mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h1>Edit Choix</h1>

    {{ include('choix/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('choix_index') }}">back to list</a>

    {{ include('choix/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    {{ include('footer.html.twig') }}


{% endblock %}
