{% extends "dash.html.twig" %}

{% block title %}Tableau utilisateurs{% endblock %}
{% block liste %}
    <div class="container">
    <div class="p-5">
        <h2>Tableau utilisateurs</h2>

        <table class="table table-responsive" id="tableac">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>IsActive</th>

                <!-- Ajout d'une entête vide -->
                <th></th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.role }}</td>
                    <td>{{ user.isActive }}</td>

                    <!-- Ajout du bouton pour accéder à la fiche d'un user -->
                   {# <td>
                        <a href="{{ path('user_edit', {id: user.id}) }}" class="btn btn-primary">Voir</a>
                    </td>#}
                </tr>
                <script>
                    $(document).ready(function(){
                        $('#search').keyup(function(){
                            search_table($(this).val());
                        });
                        function search_table(value){
                            $('#tableac tbody tr').each(function(){
                                var found = 'false';
                                $(this).each(function(){
                                    if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                                    {
                                        found = 'true';
                                    }
                                });
                                if(found == 'true')
                                {
                                    $(this).show();

                                }
                                else
                                {
                                    $(this).hide();

                                }
                            });
                        }
                    });
                </script>
            {% endfor %}
            <input type="text" id="search" name="search" class="form-control" placeholder="Search">
        </table>

    </div>
    </div>
{% endblock %}
