{% extends 'dash.html.twig' %}

{% block content %}

    {% if is_granted('ROLE_USER') %}
        <div align="right">
        <li class="nav-item" ><a class="nav-link" href="{{ path('user_edit') }}">{{ app.user.email }}</a>
        </li>
        <li class="nav-item"><a class="nav-link"
                                href="{{ path('security_logout') }}">{{ 'user.logout'|trans }}</a></li>
    {% else %}
        {#<li><a href="{{ path('user_register') }}">{{ 'user.sign-up'|trans }}</a></li>#}
        <li class="nav-item"><a class="nav-link"
                                href="{{ path('security_login') }}">{{ 'user.login'|trans }}</a></li>
        </div>
    {% endif %}

{% endblock %}

